<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/pswdcateStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('../partials/heading.ejs'); %>
    <%- include('../partials/header.ejs');%>
    <br>
    <div class="form" style="width: 400px;">
        <div class="navbar">
            <h3>Edit Password Details</h3>
        </div>
        <hr>
        <form action="/password_details/edit/<%= records._id %>" method="post">
            <% if(success!=''){%>
                <p style="color: green;"><%= success %></p>
                <%}%>
            <div class="namefield" style="width: 150px;">
                <label for="pswdcat">Password Category</label>
            </div>
            <div class="inputfield">
                <select name="category">
                    <option value="">Choose Password Category</option>
                    <% if(record.length>0){
                        record.forEach(function(row){ %>
                    <option value="<%= records.password_category %>" <% if(records.password_category == row.password_category){ %> selected <%}%>><%= row.password_category %></option>
                    <%})}%>
                </select>
            </div>
            <br>
            <div class="namefield" style="width: 150px;">
                <label for="project">Project Name</label>
            </div>
            <div class="inputfield">
                <input type="text" name="project" id="project" 
                placeholder="Enter Project Name" value="<%= records.project_name%>" autofocus>
            </div>
            <br>
            <div class="namefield" style="width: 150px;">
                <label for="pswd">Password Details</label>
            </div>
            <div class="inputfield">
                <textarea name="pswddetails" rows="4" cols="21" 
                placeholder="Enter Password Details" ><%= decrypted_det %></textarea>
            </div>
            <input type="hidden" name="id" value="<%= records._id %>">
            <br>
            <hr>
            <div class="inputfield">
                <input id="button" type="submit" value="Update Password">
            </div>
            <br>
            <a href="/password_category">View all Categories</a>
        </form>
    </div>
    <br>
    <%- include('../partials/footer.ejs');%>
</body>
</html>
