<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/pswdcateStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('../partials/heading.ejs'); %>
    <%- include('../partials/header.ejs');%>
    <h3>Password Details</h3>
    <hr>
    <div class="tab">
        <table>
            <tr>
                <th><strong>Password Category</strong></th>
                <th><strong>Project Name</strong></th>
                <th>Action</th>
            </tr>
            <% if(records.length>0){
                records.forEach(function(row){
                    %>
            <tr>
                <td><%= row.password_category %></td>
                <td><%= row.project_name %></td>
                <td>
                    &nbsp;<a href="/password_details/display/<%= row._id%>"><i class="fa fa-eye eye"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/password_details/edit/<%= row._id %>"><i class="fa fa-pencil pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/password_details/delete/<%= row._id %>" onclick="return confirm('Are you sure?') "><i class="fa fa-trash-o dustbin"></i></a>
                </td>
            </tr>
            <%})
        }%>
        </table>
        <% if (pages>0){ %>
          <ul class="pagination text-center">
            <% if(current == 1){ %>
              <li class="disabled"><a>First</a></li>
              <% }else{ %>
                <li><a href="/view_all_password/1">First</a></li>
                <% } %>
                <% var i = (Number(current)>5?Number(current)-4:1) %>
                <% if (i!== 1) { %>
                  <li class="disabled" ><a>...</a></li>
                <% } %>
                <% for(; i<=(Number(current)+4) && i<= pages; i++){ %>
                  <% if(i==current){ %>
                    <li class="active" ><a><%= i %></a></li>
                  <% }else{ %>
                    <li><a href="/view_all_password/<%= i %>"><%= i %></a></li>
                  <% } %>
                  <% if(i== Number(current)+4 && i<pages){ %>
                    <li class="disabled"><a>...</a></li>
                  <% } %>
                <% } %>
                <% if(current == pages){ %>
                  <li class="disabled"><a>Last</a></li>
                <% }else{ %>
                  <li><a href="/view_all_password/<%= pages %>">Last</a></li>
                <% } %>
          </ul>
        <% } %>
    </div>
    <br>
    <br>
    <%- include('../partials/footer.ejs');%>
</body>
</html>